<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hudazamov.virtualshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/store"
        android:label="@string/app_name"
        android:roundIcon="@drawable/store"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualShop">
        <activity
            android:name=".activites.PlaceOrderActivity"
            android:exported="false" />
        <activity
            android:name=".NavCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activites.DetailedActivity"
            android:exported="false" />
        <activity
            android:name=".activites.ViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.VirtualShop.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>